@import url("satoshi.css");

html {
    background-color: #f1f5f9;
    font-family: Arial, sans-serif;
    width: 100%;
    height: 100%;
}

body {
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding: 0;
    line-height: 1.5;

    background-color: transparent;
}

* {
    box-sizing: border-box;
}

h1 {
    margin: 1rem 0;
    font-size: 2.5rem;
}

.main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 0;
    margin: 0;
}

.separator {
    width: 65%;
    height: 1px;
    margin: 5% 0 5% 17.5%;
    background-color: #f00;
    border: #000 1px solid;
}

.more-button {
    font-size: 1.2vmin;
    width: fit-content;
    font-weight: bold;
    text-align: center;
    padding: 5px 15px 5px 15px;
    margin: 5px 0 0 0;
    background-color: #b9b9b9;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}