/* From Uiverse.io by gamerx151 */
.tooltip-container {
    background: rgb(3, 169, 244);
    background: linear-gradient(138deg, rgb(0, 0, 0) 15%, rgb(0, 31, 46) 65%);
    position: fixed;
    right: 25px;
    bottom: 50%;
    cursor: pointer;
    font-size: 17px;
    padding: 0.7em 0.7em;
    border-radius: 50px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    max-width: max-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
}

.tooltip-container:hover {
    background: #fff;
    transition: all 0.9s;
}

.tooltip-container .text {
    display: flex;
    align-items: center;
    justify-content: center;
    fill: #fff;
    stroke: #ffffff;
    transition: all 0.2s;
}

.tooltip-container:hover .text {
    stroke: #000;
    fill: rgb(0, 0, 0);
    transition: all 0.9s;
}

/* Tooltip Shop */
.tooltipShop {
    position: absolute;
    top: 8%;
    left: 100%;
    transform: translateX(50%);
    opacity: 0;
    visibility: hidden;
    background: #fff;
    fill: #001722;
    padding: 10px;
    border-radius: 50px;
    transition: opacity 0.3s, visibility 0.3s, left 0.3s, background 0.3s;
    z-index: 1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.tooltip-container:hover .tooltipShop {
    top: 8%;
    opacity: 1;
    stroke: #000;
    visibility: visible;
    background: #fff;
    left: -50px;
    transform: translateX(0);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tooltip-container:hover .tooltipShop:hover {
    background: #001722;
    stroke: #fff;
}

/* ------------------------------------------ */

/* Tooltip Facebook */
.tooltipFacebook {
    position: absolute;
    top: -88%;
    left: 100%;
    transform: translateX(50%);
    opacity: 0;
    visibility: hidden;
    background: #fff;
    fill: #001722;
    padding: 10px;
    border-radius: 50px;
    transition: opacity 0.3s, visibility 0.3s, left 0.3s, background 0.3s;
    z-index: 1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.tooltip-container:hover .tooltipFacebook {
    top: -88%;
    opacity: 1;
    visibility: visible;
    background: #fff;
    left: -25px;
    transform: translateX(0);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tooltip-container:hover .tooltipFacebook:hover {
    background: #4c66a3;
    fill: #fff;
}

/* ------------------------------------------ */

/* Tooltip Instagram */
.tooltipInstagram {
    position: absolute;
    top: 101%;
    left: 100%;
    transform: translateX(50%);
    opacity: 0;
    visibility: hidden;
    background: #fff;
    fill: #001722;
    padding: 10px;
    border-radius: 50px;
    transition: opacity 0.3s, visibility 0.3s, left 0.3s, background 0.3s;
    z-index: 1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.tooltip-container:hover .tooltipInstagram {
    top: 101%;
    opacity: 1;
    visibility: visible;
    background: #fff;
    left: -25px;
    transform: translateX(0);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tooltip-container:hover .tooltipInstagram:hover {
    background: linear-gradient(45deg, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d, #ffcf54);
    fill: #fff;
}

/* ------------------------------------------ */


/* Tooltip fixe */
.tooltip9 {
    position: absolute;
    top: 0;
    left: -115%;
    opacity: 0;
    visibility: hidden;
    width: 150px;
    height: 150px;
    z-index: -1;
}

.tooltip-container:hover .tooltip9 {
    top: -110%;
    opacity: 1;
    visibility: visible;
    border-radius: 50%;
    z-index: -1;
}