---
import BaseLayout from "../../layouts/BaseLayout.astro";
import ArticleDisplay from "../../layouts/ArticleDisplay.astro";
import "../../styles/article.css";

export async function getStaticPaths() {
    const allArticles = await Astro.glob("../articles/*.md");

    const uniqueTags = [
        ...new Set(
            allArticles.map((article) => article.frontmatter.tags).flat(),
        ),
    ];

    return uniqueTags.map((tag) => {
        const filteredPosts = allArticles.filter((article) =>
            article.frontmatter.tags.includes(tag),
        );
        return {
            params: { tag },
        };
    });
}

const { tag } = Astro.params;
---

<BaseLayout>
    <ArticleDisplay tag={tag}>
        <p>articles en rapport avec "{tag}"</p>
    </ArticleDisplay>
</BaseLayout>
