---
import BaseLayout from "../../layouts/BaseLayout.astro";
import "../../styles/tagIndex.css";

const allArticles = await Astro.glob("../articles/*.md");
const tags = [
    ...new Set(allArticles.map((post) => post.frontmatter.tags).flat()),
];
const sortedArticles = allArticles.sort((a, b) => {
    const dateA = new Date(a.frontmatter.pubDate);
    const dateB = new Date(b.frontmatter.pubDate);

    return dateB.getTime() - dateA.getTime();
});
const pageTitle = "Articles - AS.Giberville Basketball";
---

<BaseLayout pageTitle={pageTitle}>
    <p>Rechercher des articles par thème</p>
    <div class="tags">
        {
            tags.map((tag) => (
                <p class="tag">
                    <a href={`/tags/${tag}`}>{tag}</a>
                </p>
            ))
        }
    </div>
<p>Articles récents</p>
    {
        sortedArticles.map((item) => (
            <div class="uniqueArticle">
                <item.Content />
            </div>
        ))
    }
</BaseLayout>
