---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Contact - AS.Giberville Basketball";
---

<BaseLayout pageTitle={pageTitle}>
    <p>Horaires du secrétariat : Du lundi au vendredi 13h00 - 20h00</p>
    <p>Mail: asgibervillebasket@gmail.com</p>
    <p>Tel: 06 69 53 74 48</p><br />
    <p>Equipe Bureau :</p>
    <p>Responsable communication/ marketing : Mathieu Cornillot-clement : 07 86
        06 06 75</p>
    <p>Secrétariat : Cécile Chouteau</p>
    <p>Responsable Sportif : Nicolas Loison</p>
    <p>Co Responsable sportif: Mathéo : 07 71 05 34 28</p>
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d671.0660088428241!2d-0.28091871351832953!3d49.18446374167277!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x480a68bfd0e5d4d1%3A0xd69745d72e1b88cc!2s26%20Rue%20Andr%C3%A9%20Gide%2C%2014730%20Giberville!5e0!3m2!1sfr!2sfr!4v1736329919900!5m2!1sfr!2sfr"
        width="600"
        height="450"
        style="border:0;"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade">
    </iframe>
</BaseLayout>
