---
import BaseLayout from "../layouts/BaseLayout.astro"

const pageTitle = "Contact - AS.Giberville Basketball";
---

<BaseLayout pageTitle={pageTitle}>
<p>Horaires du secrétariat : Du lundi au vendredi 13h00 - 20h00</p>
<p>Mail: asgibervillebasket@gmail.com</p>
<p>Tel: 06 69 53 74 48</p><br>
<p>Equipe Bureau :</p>
<p>Responsable communication/ marketing : Mathieu Cornillot-clement : 07 86 06 06 75</p>
<p>Secrétariat : Cécile Chouteau</p>
<p>Responsable Sportif : Nicolas Loison</p>
<p>Co Responsable sportif: Mathéo  : 07 71 05 34 28</p>
</BaseLayout>