---
import BaseLayout from "../layouts/BaseLayout.astro";
import ArticleDisplay from "../layouts/ArticleDisplay.astro";
import MarkdownPostLayout from "../layouts/MarkdownPostLayout.astro";
import Overview from "../components/Overview.astro";
import Events from "../components/Events.astro";
import Actus from "../components/Actus.astro";
import Partenaires from "../components/Partenaires.astro";
import "../styles/index.css";

const pageTitle = "Accueil - AS.Giberville Basketball";
---

<BaseLayout pageTitle={pageTitle}>
	<div class="large-title">
		<h1>AS GIBERVILLE</h1>
		<h1>Basket</h1>
	</div>

	<Overview />
	<Events />
	<Actus />
	<Partenaires />
</BaseLayout>