---
import "../styles/actus.css"
---

<div class="actus">
    <div class="text-box">
        <h1>Les actualités<br>du club</h1>
        <p>Bienvenue sur le site officiel de l'AS Giberville Basket !<br>Club dynamique et convivial, l'AS Giberville Basket est ouvert à tous, des plus jeunes aux adultes, qu'ils soient débutants ou passionnés de compétition. Nous partageons des valeurs de respect, d'esprit d'équipe et de dépassement de soi, dans une ambiance chaleureuse. Suivez nos actualités, découvrez nos équipes, nos événements et rejoignez une aventure sportive où chaque dribble compte !</p>
        <button class="assoc-button">En savoir plus</button>
    </div>

    <div class="pic-container-big">
        <img class="big-picture" src="/src/images/bigpicture.png" alt="Logo de l'AS.Giberville Basketball" />
        <button class="btntest">$date</button>
    </div>
    
    <div class="actus-small">
        
        <div class="pic-container">
            <img src="/src/images/smallpicture1.jpeg" alt="Logo de l'AS.Giberville Basketball"/>
            <button class="btntest">S'INSCRIRE</button>
        </div>
        <div class="pic-container">
            <img src="/src/images/smallpicture2.png" alt="Logo de l'AS.Giberville Basketball"/>
            <button class="btntest">STAGES</button>
        </div>
    
    </div>
</div>