---
import Social from './Social.astro';
---

<style>
    footer {
        text-align: center;
        gap: 1rem;
        margin-top: 2rem;
    }
</style>

<footer>
    <Social platform="Instagram" username="asgibervillebasket" />
    <a href="https://www.facebook.com/people/ASGiberville-basket/100063519793653/" target="_blank" class="social">Facebook</a>
</footer>