---
import "../styles/nav.css";
---

<div class="nav-container">
    <a class="nav" href="/">Le club</a>

    <a class="nav" href="/tags/">Les équipes</a>

    <a class="nav" href="/evenements/">Actualités</a>

    <a class="nav" href="/partenaires/">Nous contacter</a>

    <a class="nav" href="https://app.grinta.eu/asgiberville-basket" target="_blank">Boutique</a>
</div>