---
import "../styles/overview.css";
---

<div class="presentation">
    <img class="big-picture" src="/src/images/bigpicture.png" alt="Logo de l'AS.Giberville Basketball" />
    <div class="presentation-row2">
        <img src="https://s3-alpha-sig.figma.com/img/805d/f4ee/f7db8aae9e43a17b316cd67b6a22b64e?Expires=1740960000&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=bTgO6Rm3UCFSFIoDq4Z94Yztg8Us7ujvgLWNJPiify75LnwlT-vHa8uuW-5gT-sUZH1TPCtIwzd~N45~vHSKSs-TmJkwN5zC-Y-OLWa-bRkTHnk4Tm2frYPaJw-hNIfJIDOOCc8Y39QEw9cySOHb2nQA1c3coRZK853kzrCpUF7S~bP3EB-JVQNLH5qi5Y0ntosanHj0YKz3VTET-p9aN333k5k8KahhuHMXM~1pKvkAeUrpb~0BuOUKiikykfZLc8UBz-hREtazz3qZd2RZEfLA4~toIrKE1fXHeafi7WX~CBloFN8Rt9GWZ71A0ivw1TJUZxLhOW0lThMSFto9Mw__" alt="Logo de l'AS.Giberville Basketball" />
        <img src="https://s3-alpha-sig.figma.com/img/a9a4/1f17/a05977c380ad3e900fbcc2b6e018dffd?Expires=1740960000&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=LFZcdihjkoCLV4kpJVsAsYdVyUF12Q-YOLwMyQD4yG5oOqWAvC0PLv0kYPiXP392nvA5AvP0pbiJ926NasWqra9WrbOAxpxNIuOdq-iXG8eNSZBhB9TnOQKtJSxgZIJDwokPUDB-kw0qT02NlxdAMruE~vbWsOglcTqlkU23HkCCzd6gmHe8bAGpxgfm9K1pYE0NXM1q2I3zOEkJ7M2NrDfvUAiuIocA-49bmmtSpbo35KYdgT8W7XntNLq-AtAM8mfO4hDy2OZoBpM2FeTL0BBt7KdmSnY5nNdyEvh5I2pjS4cFfvDqnIx74dHPGnUOpeuanutfUKUDjwCA9pttcA__" alt="Logo de l'AS.Giberville Basketball" />
    </div>
    <div class="presentation-row3">
        <h1>L'AS GIBERVILLE<br>Basket</h1>
        <p>here are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.</p>
        <button class="assoc-button">En savoir plus</button>
    </div>
</div>