---
import "../styles/article.css";
const allArticles = await Astro.glob("../pages/articles/*.md");
const tag = Astro.props.tag;
const qty = Astro.props.quantity;

var filteredArticles = allArticles;
if (tag) {
    filteredArticles = allArticles.filter((article) =>
        article.frontmatter.tags.includes(tag),
    );
}

// Trier les articles par date (du plus récent au plus ancien)
var sortedArticles = filteredArticles.sort((a, b) => {
    const dateA = new Date(a.frontmatter.pubDate);
    const dateB = new Date(b.frontmatter.pubDate);

    return dateB.getTime() - dateA.getTime();
});

// Limiter le nombre d'articles affichés
sortedArticles = qty ? sortedArticles.slice(0, qty) : sortedArticles;
---

<slot />
<div class="articleContainer">
    {
        sortedArticles.map((item) => (
            <div class="article">
                <item.Content />
            </div>
        ))
    }
</div>
